dn: cn={{ item }},ou=people,ou=all,ou=x2x,dc={{ rootdom_6520.stdout }},dc={{ roottld_6520.stdout }}
canAddApplications: Yes
canAddPeople: Yes
canAddResources: Yes
canAddSatellites: Yes
canAddUserApplications: Yes
canExecute: -
cn: {{ item }}
executeAccessLevel: System
executeAccessLevel: WebPortal-Admin
executeAccessLevel: WebPortal-Supervisor
givenName: {{ item }}
groupAffiliation: System
groupAffiliation: WebPortal
groupAffiliation: WebPortal-Admin
groupAffiliation: WebPortal-Supervisor
objectClass: x2xPerson
readAccessLevel: Management
readAccessLevel: System
readAccessLevel: WebPortal
readAccessLevel: WebPortal-Admin
readAccessLevel: WebPortal-Supervisor
readAccessLevel: 2d4575ee-302e-48ab-9390-8fdda0c9e033
userPermission: 2d4575ee-302e-48ab-9390-8fdda0c9e033
sn: {{ item }}
userPassword: {{ item }}
writeAccessLevel: System
writeAccessLevel: WebPortal-Admin
x2xDevice: {{ item }}
x2xDomain: acd.{{ rootdom_6520.stdout }}.{{ roottld_6520.stdout }}
x2xTenant: all
